@import url("https://fonts.googleapis.com/css2?family=Kufam&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Kufam", cursive;
}

a {
  color: currentColor;
  text-decoration: none;
}

.navbar {
  height: 70px;
  width: 100%;
  background: black;
  color: white;
}
.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  height: 100%;
}
header {
  padding: 1em;
  background: red;
  margin-bottom: 1em;
  padding-bottom: 3.5em;
  text-align: center;
  clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
}
.logo {
  width: 50px;
  height: 50px;
}
.dropdown {
  position: absolute;
  width: 500px;
  opacity: 0;
  z-index: 2;
  background: blue;
  border-top: 2px solid white;
  list-style: none;

  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3rem;
  margin-top: 2rem;
  padding: 0.5rem;

  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.175em 0.5em;
  transform: translateX(-50%);

  transition: opacity 0.15s ease-out;
}

.has-dropdown:focus-within .dropdown {
  opacity: 1;
  pointer-events: auto;
}

.dropdown-item a {
  width: 100%;
  height: 100%;
  size: 0.7rem;
  padding-left: 10px;
  font-weight: bold;
}

.dropdown-item a::before {
  content: " ";
  border: 2px solid white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

:root {
  --gray0: #f8f8ff;
  --gray1: #dbe1e8;
}
.light {
}
.dark {
}
.solar {
}
